
</div>
<div class="footer">
  <p>Made with ❤️ by <a href="https://jaweria-batool.vercel.app/" style="color: white; text-decoration: none;">Jaweria Batool</a></p>
  <!-- Social Links -->
  <div class="social-links">
      <a href="https://www.linkedin.com/in/jaweria-batool" target="_blank" class="social-link">
          <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/Jaweria-B" target="_blank" class="social-link">
          <i class="fab fa-github"></i>
      </a>
      <a href="https://medium.com/@jaweria_" target="_blank" class="social-link">
          <i class="fab fa-medium"></i>
      </a>
  </div>
</div>

</body>
</html>